body {
    margin: 8px 6px;
}

.header {
    display: flex;
    justify-content: center;
    color: green;
    font-size: 2em;
    font-weight: bold;
    cursor: default;
}

hr {
    border: 2px solid blue;
    width: 98%;
    margin-bottom: 0;
}

form {
    display: flex;
    justify-content: center;
}

.input-form {
    background-color: antiquewhite;
    padding: 20px 0;
    border-radius: 3px;
}

.input-field {
    margin-right: 20px;
    /*background-color: #d5fad5;*/
}

.button--add {
    background-color: beige;
    border: 2px solid #bb7e31;
    border-radius: 4px;
}

.button--add:hover {
    cursor: pointer;
    background-color: #f6f655;
}

.input {
    border: 2px solid #d5fad5;
    border-radius: 4px;
}

input:focus {
    border-color: #15F115FF;
}

.list-header {
    display: flex;
    justify-content: center;
    font-size: 1.3em;
}

.list-todo-container .list-header {
    color: #e8266a;
}

.list-done-container .list-header {
    color: #3fe708;
}


