html, body {
    height: 100%;
    font-family: Arial;
}

body {
    margin: 0;
    background-color: #fcfeff;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    padding: 20px;
    color: green;
    font-size: 2em;
    font-weight: bold;
    cursor: default;
    background-color: beige;
    border-bottom: solid #0000FFFF;
}

.main-part {
    flex: 1 0 auto;
}

form {
    display: flex;
    justify-content: center;
}

.input-form {
    background-color: antiquewhite;
    padding: 20px 0;
    border-radius: 3px;
    width: 100%;
}

.input-field {
    margin: 0 20px;
    width: 100%;
    /*background-color: #d5fad5;*/
}

.button--add {
    margin-right: 15px;
    background-color: beige;
    border: 2px solid #bb7e31;
    border-radius: 4px;
}

.button--add:hover {
    cursor: pointer;
    background-color: #f6f655;
}

.input-todo {
    border: 2px solid #d5fad5;
    border-radius: 4px;
    width: calc(100% - 1.2rem);
}
.input-todo:focus {
    /*border-color: transparent;*/
    border-color: #15F115FF;
    box-shadow: 0 0 4px rgba(0,0,0,0.7);
    outline-style: none;
}

.empty-error{
    border-color: mediumvioletred;
}

.list-header {
    display: flex;
    justify-content: center;
    font-size: 1.3em;
}

.list-todo-container .list-header {
    color: #e8266a;
}

li {
    padding: 5px 8px;
    display: flex;
    justify-content: space-between;
}
li:hover {
    color: white;
}

.todo-li {
    border-top: 2px solid #e85454;
}

.todo-li:hover {
    background-color: #e864da;
    transform: scale(1.01);
}

.button-done {
    position: relative;
    right: 10px;
}

.button-done:hover {
    background-color: #b2ec9e;
    border: 2px solid green;
}

.list-done-container .list-header {
    color: #3fe708;
}

.li-done {
    border-top: 2px solid #93f13a;
    background-color: #cee1c6;
}
.li-done:hover {
    background-color: #b2ec9e;
    transform: scale(1.01);
}

ul {
    list-style-type: none;
    padding: 0 10px;
}

.footer {
    height: 50px;
    flex-shrink: 0;
    background-color: #dcffec;
    padding: 5px;
}

.time-and-stats {
    display: flex;
    justify-content: space-around;
}

.stats-total {
    padding: 12px 0;
}

.time-and-date {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date {
    padding-top: 3px;
    border-top: solid #4d4dd3;
}



